{% extends("_manage.html") %}

{% block title %} 诗集 {% endblock %}

{% block head %}
<script>

$(function () {
	var vm = new Vue({
		el: '#vm',
		data: {
			categories: []
		},
		methods: {
			deleteCategory: function (c) {
				var that = this;
				UIkit.modal.confirm('确认要删除诗集“'+c.name+'”？', function () {
					that.$resource('/api/categories/'+c.id+'.json').delete().then(function (resp) {
						location.assign('/manage/categories');
					}, alertError);
				});
			}
		},
		created: function () {
			var that = this;
			that.$resource('/api/categories.json').get().then(function (resp) {
				resp.json().then(function (r) {
					that.categories = r.results;
				});
			}, alertError);
		}
	});
});

</script>
{% endblock %}

{% block main %}
	<div id="vm">
		<ul class="uk-breadcrumb">
    		<li class="uk-active"><span>所有诗集</span></li>
		</ul>

		<table class="uk-table uk-table-hover">
			<thead>
				<tr>
					<th width="15%">名称</th>
					<th width="auto">描述</th>
					<th width="10%">排序</th>
					<th width="10%"></th>
					<th width="10%"></th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				<tr v-show="categories.length===0">
					<td colspan="5">Loading...</td>
				</tr>
				<tr v-for="c in categories">
					<td v-text="c.name"></td>
					<td v-text="c.description"></td>
					<td v-text="c.displayOrder"></td>
					<td><a v-bind:href="'/manage/categories/'+c.id+'/poems'"><i class="uk-icon-list"></i> 诗词列表</a></td>
					<td><a v-bind:href="'/manage/categories/'+c.id+'/edit'"><i class="uk-icon-pencil"></i> 编辑诗集</a></td>
					<td><a v-on:click="deleteCategory(c)" href="#0"><i class="uk-icon-trash"></i> 删除诗集</a></td>
				</tr>
			</tbody>
		</table>
		<p><a class="uk-button" href="/manage/categories/add"><i class="uk-icon-plus"></i> 添加诗集</a></p>
	</div>
{% endblock %}
