{% extends("_manage.html") %}

{% block title %} 朝代 {% endblock %}

{% block head %}
<script>

$(function () {
	var vm = new Vue({
		el: '#vm',
		data: {
			dynasties: []
		},
		created: function () {
			var that = this;
			that.$resource('/api/dynasties.json').get().then(function (resp) {
				resp.json().then(function (r) {
					that.dynasties = r.results;
				});
			}, alertError);
		}
	});
});

</script>
{% endblock %}

{% block main %}
	<div id="vm">
		<ul class="uk-breadcrumb">
    		<li class="uk-active"><span>所有朝代</span></li>
		</ul>

		<table class="uk-table uk-table-hover">
			<thead>
				<tr>
					<th width="auto">名称</th>
					<th width="10%">排序</th>
					<th width="10%">诗人统计</th>
					<th width="10%">诗词统计</th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				<tr v-show="dynasties.length===0">
					<td colspan="5">Loading...</td>
				</tr>
				<tr v-for="d in dynasties">
					<td><span v-text="d.name"></span></td>
					<td v-text="d.displayOrder"></td>
					<td>
						诗人<span v-text="d.poetCount"></span>
					</td>
					<td>
						诗词<span v-text="d.poemCount"></span>
					</td>
					<td><a v-bind:href="'/manage/dynasties/'+d.id+'/poets'"><i class="uk-icon-list"></i> 诗人列表</a></td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
