{% extends("_manage.html") %}

{% block title %} 精选 - 诗词列表 {% endblock %}

{% block head %}
<script>

function dateChanged(input) {
	var
		i, fp,
		vm = window.vm,
		$i = $(input),
		id = $i.attr('id');
	for (i=0; i<vm.featured_poems.length; i++) {
		fp = vm.featured_poems[i];
		if (fp.poem.id === id) {
			if (fp.pubDate !== $i.val()) {
				fp.pubDate = $i.val();
				fp.changed = true;
			}
			break;
		}
	}
}

$(function () {
	var vm = new Vue({
		el: '#vm',
		data: {
			featured_poems: []
		},
		methods: {
			getFormName: function (form) {
				switch (form) {
				case 54:
					return '五绝';
				case 58:
					return '五律';
				case 74:
					return '七绝';
				case 78:
					return '七律';
				case 9:
					return '词';
				case 8:
					return '曲';
				case 15:
					return '赋';
				default:
					return '未知';
				}
			},
			bindDatePicker: function (id) {
				var $i = $('#' + id);
				if (!$i.attr('date-binded')) {
					UIkit.datepicker('#'+id);
					$('#'+id).attr('date-binded', 'true');
				}
			},
			updateFeaturedPoem: function (fp) {
				var that = this;
				that.$resource('/api/featured').save({
					poemId: fp.poem.id,
					pubDate: fp.pubDate
				}).then(function (resp) {
					fp.changed = false;
				}, alertError);
			},
			removeFeaturedPoem: function (fp) {
				var that = this;
				UIkit.modal.confirm('确认要移除精选诗词“'+fp.poem.name+'”？', function () {
					that.$resource('/api/featured/'+fp.poem.id+'.json').delete().then(function (resp) {
						location.assign('/manage/featured');
					}, alertError);
				});
			}
		},
		created: function () {
			var that = this;
			that.$resource('/api/featured/poems.json').get().then(function (resp) {
				resp.json().then(function (r) {
					r.results.map((fp) => {
						fp.changed = false;
					});
					that.featured_poems = r.results;
				});
			}, alertError);
		}
	});
	window.vm = vm;
});

</script>
{% endblock %}

{% block main %}
	<div id="vm">
		<ul class="uk-breadcrumb">
    		<li class="uk-active">精选(<span v-text="featured_poems.length"></span>)</li>
		</ul>

		<table class="uk-table uk-table-hover">
			<thead>
				<tr>
					<th width="15%">图片</th>
					<th width="20%">名称</th>
					<th width="auto">内容</th>
					<th width="10%">格式</th>
					<th width="10%">日期</th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				<tr v-show="featured_poems.length===0">
					<td colspan="6">Loading...</td>
				</tr>
				<tr v-for="fp in featured_poems">
					<td>
						<img v-if="fp.poem.imageId!==''" v-bind:src="'/resources/'+fp.poem.imageId">
					</td>
					<td><span v-text="fp.poem.name"></span></td>
					<td v-text="fp.poem.content.length <= 32 ? fp.poem.content : fp.poem.content.substring(0, 32) + '...'"></td>
					<td v-text="getFormName(fp.poem.form)"></td>
					<td>
						<form class="uk-form">
							<input onchange="dateChanged(this)" v-bind:value="fp.pubDate" v-bind:id="fp.poem.id" v-on:focus="bindDatePicker(fp.poem.id)" type="text" maxlength="10" style="width:100%">
						</form>
						<p><button v-show="fp.changed === true" v-on:click="updateFeaturedPoem(fp)" class="uk-button uk-button-primary uk-button-small">保存</button></p>
					</td>
					<td>
						<p><a v-on:click="removeFeaturedPoem(fp)" href="#0"><i class="uk-icon-ban"></i> 移除诗词</a></p>
						<p><a v-bind:href="'/manage/dynasties/poets/poems/'+fp.poem.id+'/edit'" target="_blank"><i class="uk-icon-pencil"></i> 编辑诗词</a></p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
