{% extends("_manage.html") %}

{% block title %} 搜索结果 {% endblock %}

{% block head %}
<script>

$(function () {
	var vm = new Vue({
		el: '#vm',
		data: {
			searching: true,
			q: '{{ q }}',
			hits: '0',
			results: []
		},
		methods: {
			getFormName: function (form) {
				switch (form) {
				case 54:
					return '五绝';
				case 58:
					return '五律';
				case 74:
					return '七绝';
				case 78:
					return '七律';
				case 9:
					return '词';
				case 8:
					return '曲';
				case 15:
					return '赋';
				default:
					return '未知';
				}
			},
			addToFeatured: function (p) {
				addPoemToFeatured(p);
			}
		},
		created: function () {
			var that = this;
			that.$resource('/api/search.json?q='+encodeURIComponent(this.q)).get().then(function (resp) {
				resp.json().then(function (r) {
					that.hits = r.hits;
					that.results = r.results;
					that.searching = false;
				});
			}, alertError);
		}
	});
});

</script>
{% endblock %}

{% block main %}
	<div id="vm">
		<ul class="uk-breadcrumb">
    		<li class="uk-active">搜索：约<span v-text="hits"></span>个结果</li>
		</ul>

		<table class="uk-table uk-table-hover">
			<thead>
				<tr>
					<th width="15%">图片</th>
					<th width="20%">诗词</th>
					<th width="10%">诗人</th>
					<th width="auto">内容</th>
					<th width="10%">格式</th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				<tr v-show="searching">
					<td colspan="5">Searching...</td>
				</tr>
				<tr v-for="p in results">
					<td>
						<img v-if="p.imageId!==''" v-bind:src="'/resources/'+p.imageId">
					</td>
					<td>
						<a v-text="p.name" v-bind:href="'/poem/'+p.id" target="_blank"></a>
						<br>
						<span v-text="p.id" class="uk-text-muted"></span>
					</td>
					<td>
						<a v-text="p.poetName" v-bind:href="'/poet/'+p.poetId" target="_blank"></a>
					</td>
					<td v-text="p.content.length <= 32 ? p.content : p.content.substring(0, 32) + '...'"></td>
					<td v-text="getFormName(p.form)"></td>
					<td>
						<p><a v-bind:href="'/manage/dynasties/poets/poems/'+p.id+'/edit'" target="_blank"><i class="uk-icon-list"></i> 编辑诗词</a></p>
						<p v-show="p.imageId !== ''"><a v-on:click="addToFeatured(p)" href="#0"><i class="uk-icon-star"></i> 加入精选</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
