{% extends("_base.html") %}

{% block title %} 首页 {% endblock %}

{% block head %}

<style>
div.x-vertical {
	display: block;
	writing-mode:tb-rl;
	width: 2em;
	font-size:4em;
	letter-spacing: 0.3em;
	float:right;
}
</style>

<script>

$(function () {
	var
		$poem = $('#poem'),
		name = $poem.find('.x-name').text(),
		poetName = $poem.find('.x-poet').text(),
		content = $poem.find('.x-content').text(),
		appreciation = $poem.find('.x-appreciation').text(),
		$display = $('div.x-poem');
	$display.find('.x-name').text(name);
	$display.find('.x-poet').text(poetName);
	$display.find('.x-content').html(formatPoem(content));
	$display.find('.x-appreciation').text(appreciation);
	//startAnimate();
});

</script>

{% endblock %}

{% block nav %}
	正在浏览：
	<a href="/" class="x-nav">首页</a>
	»
	<span class="x-nav">每日精选</span>
{% endblock %}

{% block main %}

<div id="poem">
	<div class="x-name">{{ poem.name }}</div>
	<div class="x-poet">{{ poet.name }}</div>
	<div class="x-content">{{ poem.content }}</div>
	<div class="x-appreciation">{{ poem.appreciation }}</div>
</div>

<div class="uk-grid">
	<div class="uk-width-1-1">
		<div class="x-poem">
			<div class="x-cover-container" style="background-image: url(/resources/{{ poem.imageId }})">
				<div class="x-cover"></div>
			</div>
			<div class="x-name"></div>
			<div class="x-poet"></div>
			<div class="x-content"></div>
			<div class="x-hr">┄┄┄┄┄┄┄┄┄┄</div>
			<div class="x-appreciation"></div>
		</div>
	</div>
</div>

{% endblock %}
