{% extends("_base.html") %}

{% block title %} {{ poem.name }} - {{ poet.name }} {% endblock %}

{% block head %}

<script>

$(function () {
	var
		$poem = $('#poem'),
		name = $poem.find('.x-name').text(),
		content = $poem.find('.x-content').text(),
		appreciation = $poem.find('.x-appreciation').text(),
		$display = $('div.x-poem');
	$display.find('.x-name').text(name);
	$display.find('.x-content').html(formatPoem(content));
	$display.find('.x-appreciation').text(appreciation);
	//startAnimate();
});

</script>

{% endblock %}

{% block nav %}
	正在浏览：
	<a href="/" class="x-nav">首页</a>
	»
	<a href="/dynasty/{{ dynasty.id }}" class="x-nav">{{ dynasty.name }}</a>
	»
	<a href="/poet/{{ poet.id }}" class="x-nav">{{ poet.name }}</a>
	»
	<span class="x-nav">{{ poem.name }}</span>
{% endblock %}

{% block main %}

<div id="poem">
	<div class="x-name">{{ poem.name }}</div>
	<div class="x-content">{{ poem.content }}</div>
	<div class="x-appreciation">{{ poem.appreciation }}</div>
</div>

<div class="uk-grid">
	<div class="uk-width-1-1">
		<div class="x-poem">
			{% if poem.imageId != '' %}
			<div class="x-cover-container" style="background-image: url(/resources/{{ poem.imageId }})">
				<div class="x-cover"></div>
			</div>
			{% endif %}
			<div class="x-name" style="font-size:2em; line-height: 2em;"></div>
			<div class="x-content" style="font-size:2em; line-height: 2em;"></div>
			<div class="x-appreciation"></div>
		</div>
	</div>
</div>

{% endblock %}
